* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: silver;
    font-size: 50px;
    color: grey;
}

.games {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

a {
    background-color: black;
    border: none;
    border-radius: 10%;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color: silver;
}